html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.intro {
    height: 100vh;
    background: linear-gradient(#5bb0b5), #ed8f1d;
}

body{

}

:root {
    --cor-primaria : #5bb0b5;
    --cor-secundaria : #ed8f1d;
}
.btn {
    border: none;
    background-color: var(--cor-primaria);
    margin-right: 25px;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: x-large;
    color: white;
    cursor: pointer;
    transition: background .3s;
}

.btn:hover {
    background-color: #ed8f1d;
}

.btn:active {
    color: black;
    background-color: black;
}