
<h1>{{ turma.nome }}</h1>
<p>Descrição: {{ turma.descricao }}</p>

<h2>Ranking das Equipes:</h2>
{% if equipes %}
  <ol>
    {% for equipe in equipes %}
      <li>
        <a href="{% url 'equipe_detalhe' equipe.id %}">{{ equipe.nome }}</a> - Saldo de pontos: {{ equipe.saldo_pontos }}
      </li>
    {% endfor %}
  </ol>
{% else %}
  <p>Não há equipes cadastradas.</p>
{% endif %}

<h2>Atividades:</h2>
<ul>
    {% for atividade in atividades.all %}
    <li>
        <a href="{% url 'atividade_detalhe' atividade.id %}">{{ atividade.nome }}</a> - Pontos: {{ atividade.pontos }}
    </li>
    {% empty %}
    <li>Não há atividades cadastradas.</li>
    {% endfor %}
</ul>


