h1 {
    text-align: center;
    padding: 20px;
    color: #333;
}

#colorblock {
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

hr {
    border: none;
    border-top: 1px solid #e1e1e1;
    margin: 20px 0;
}

.col-md-4 {
    width: 100%;
}

#displayName {
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #e1e1e1;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

button {
    width: auto;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: #007BFF;
}

button:active {
    background-color: #0056b3;
}

button:hover {
    cursor: pointer;
    opacity: 0.9;
}
